html {
    scroll-behavior: smooth;
  }
  .navbar button{
      border-radius:0px 30px 30px 0px;
      background-color:#E52727;
      color: white;
      
    }
    .navbar button:hover{
      color: white !important;
      background-color:#e52727d0;
    }
    i{
      color: #E52727;
    }
    .navbar input{
      border-radius:30px 0px 0px 30px;
  
    }
    input::placeholder{
      font-size: 20px;
    }
    .login a{
      color: black !important;
      font-weight: bold;
      text-decoration: none;
    }
    
     .border{
      margin: 0 auto;
      border: 1px solid #E52727 !important;
      width: 40px;
      visibility: hidden;
    }
    @keyframes animate{
    0%{width: 0px;}
    100% {width: 40px;}
  }
  .login a:hover +.border{
      visibility: visible !important;
      animation: animate 0.2s linear;
    }
    .login i{
      padding-top: 15px;
    }
     input:focus{
     outline: 0 !important;
     box-shadow: none !important;
     border-color:#CED4DA !important;
     
   }
   .login a i{
     position: relative;
   }
   .login a i span{
     background-color: #E52727;
     padding: 2px;
     padding-left: 3px;
     padding-right: 3px;
     border-radius: 50%;
     position: absolute;
     font-size: 10px;
     color: white;
     right: -3px;
     top: 5px;
     display: none;
   }
    @media only screen and (max-width: 1066px) {
    .login a span{
      display: none !important;
    }
    .login a i span{
      display: block !important;
    }
    .login i{
      font-size: 20px;
    }
  }
    
  
    @media only screen and (max-width: 991px) {
    .navbar .logo{
      display: none !important;
    }
    .navbar .login{
      display: none !important;
    }
   
    .login-second{
      display: block !important;
    }
    #navbar{
      padding-left: 0 !important;
      padding-left: 1px !important;
    }
    
    
  }
  
  /* second navbar */
  .login-second a i{
    position: relative;
  }
  .login-second a i span{
    background-color: #E52727;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 50%;
    position: absolute;
    font-size: 10px;
    color: white;
    left: 10px;
    top: -8px;
    display: none;
  }
  @media all and (min-width: 992px) {
          .navbar{ padding-top: 0; padding-bottom: 0; }
          .navbar .has-megamenu{position:static!important;}
          .navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
          .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
      }
    .login-second  li{
      display: inline !important;
      list-style: none !important;
    }
  
    .login-second{
      display: none;
    
    }
  .login-second span{
    color: black;
    font-weight: bold;
    margin-right: 15px;
  }
  .login-second a{
    text-decoration: none;
  }
  .login-second ul li:hover i{
    color: rgba(0, 0, 0, 0.5) !important;
   
  }
  #mega{
    background-color: #E52727;
    border-radius: 25px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  
  #menu li:nth-of-type(1) a{
   font-weight: normal;
  }
  #menu li a{
    color: #333333 !important;
    font-size: 20px;
    
  }
  #menu li a:hover{
    color: #E52727 !important;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active
   {
      outline: none;
      
      
       box-shadow: none;
  }
  .bg-second{
    background-color:white;
  }
  @media only screen and (max-width: 576px) {
    #dropmenu{
    font-size:15px !important;
  }
  #dropmenu li a{
    font-size:15px !important;
    color: rgb(143, 139, 139) !important;
  }
  .col-megamenu h5 a{
    font-size: 14px !important;
  }
  }
  /* shop by category */
  .sbccss{
    display: none;
  }